body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    padding-top: 200px;
}

/* DISEÑO DE LA IMAGEN DE CABECERA */

#main-header {
    height: 200px;
    width: 100%;
    left:0;
    top:0;
    position:fixed;
}


.header{ /* Contenedor de la cabecera */ 
    width: 100%;
    height: 180px;
}

.header img{ /*Imagen de la cabecera */
    width: 100%;
    height: auto;
}

@supports(object-fit: cover){ /*Ajuste de la imagen al contenedor */
    .header img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.lista_indice{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gainsboro;
    width: 100%;
}

.indice {
    float: left;
    padding: 10px;
    color: white;
}

.indice a{
    color: black;
}


.resto{
}