/* DISEÑO DE LA CABECERA */

#header { /* Contenedor de la cabecera */
    height: 45px;
    width: 100%;
    left:0;
    top:0;
    position:fixed;
    display: inline-block;
    text-align: center;
    z-index: 2;
}

.index{ /* Barra de navegación */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    width: 100%;
    height: 45px;
}

.index_c { /* Posición de las opicones de la barra de navegación */
    float: right;
    padding: 10px;
    padding-bottom: 10px;
}

.index_c a{ /*Texto de la barra de navegación */
    color: white; 
    text-decoration: none; /* Quitamos el subrayado del texto */
}

/* DISEÑO DE LA PARTE PRINCIPAL DEL CV*/

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 0;
}

.section_title{
    background-color: aquamarine;
    width: 100%;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    top:45px;
    left: 0;
    display: inline-block;
    padding: 0;
    margin-top: 45px;
}

.contact_form{
    width: 460px;
    height: auto;
    border-radius: 10px;
    background-color: antiquewhite;
    padding-top: 30px;
}


h1 {
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
}

table {
    width: 100%;
    border: 1px solid black;
}

th, td {
    width: 20%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
}

.idioma_ok{
    background-color: green;
}

caption {
    padding: 0.3em;
    color: #fff;
    background-color: #000;
}

th {
    background-color:gainsboro;
}

.personal_data {
    width: 100%;
    height: 150 px;
    overflow: scroll;
}

.info_data {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position:relative;
    float: left;
    width: 75%;
    height: 150px;
}

.details_info_data {
    margin-left: 5px;
}

.foto_data {
    position: relative;
    float: right;
    width: 25%;
    height: 150px;
}

.foto_data img {
    width: 130px;
    height: 130px;
}

.idiomas_section {
    float:inline-end;
}